<!DOCTYPE html>
<html lang="ja" ng-app="my-app">
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src * gap: ws: https://ssl.gstatic.com;img-src * data: content:;style-src * 'unsafe-inline' data: blob:;script-src * 'unsafe-inline' 'unsafe-eval' data: blob:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="css/onsenui.css">
        <link rel="stylesheet" type="text/css" href="css/onsen-css-components.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!--JavaScript-->
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/wcAngularOverlay.js"></script>
        <script src="js/ng-pinch-zoom.min.js"></script>
        <script src="js/onsenui.min.js"></script>
        <script src="js/angular-onsenui.min.js"></script>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOVYfT39MoC2k47PrqTYTc2Rj8Fv7h3fY"></script>
        <script src="js/index.js"></script>
        <title>三重県民の森</title>
    </head>
    <body ng-controller="AppController">
        
        <!--タブbar-->
        <ons-tabbar var="tab">
            <ons-tab label="ピックアップ" icon="fa-star" page="main-nav.html" active="true"></ons-tab>
            <ons-tab label="イベント" icon="fa-flag" page="event-nav.html"></ons-tab>
            <ons-tab label="園内マップ" icon="fa-map-signs" page="maps.html"></ons-tab>
            <ons-tab label="その他" icon="fa-align-justify" page="others-nav.html"></ons-tab>
        </ons-tabbar>
        
        <!--ナビbar-->
        <ons-template id="main-nav.html">
            <ons-navigator var="mainNavigator" page="main.html"></ons-navigator>
        </ons-template>
        
        <!--最初に表示されるページ-->
        <ons-template id="main.html">
            <ons-page ng-controller="PickupController as pickup">
                <ons-toolbar>
                    <div class="center bg-logo"></div>
                </ons-toolbar>
                <div>
                    <p class="attention" ng-show="msg">{{msg}}</p>
                    <p class="fontM">参加受付中</p>
                    <div class="horizontal-collection" ng-class="{loading: loads}">
                        <ul style="width:{{ collectionWidth }}px">
                            <li ng-repeat="item in items">
                                <ons-button ng-click="showEventDetail($index)">
                                    <div style="background-image:url('{{ item.thumbnail }}')">
                                        <p>
                                            {{ item.post_title }}<br>
                                            <span>{{ item.event_start }}</span>
                                        </p>
                                    </div>
                                </ons-button>
                            </li>
                        </ul>
                    </div>
                </div>
            </ons-page>
        </ons-template>
        
        <!--ナビbar-->
        <ons-template id="event-nav.html">
            <ons-navigator var="eventsNavigator" page="event.html"></ons-navigator>
        </ons-template>
        
        <!--イベント一覧ページ-->
        <ons-template id="event.html">
            <ons-page ng-controller="EventsController as events">
                <ons-toolbar>
                  <div class="center">イベント</div>
                </ons-toolbar>
                <p class="fontM">イベント一覧</p>
                <div class="vertical-collection">
                    <ul>
                        <li ng-repeat="item in items">
                            <ons-button ng-click="showEventDetail($index)">
                                <div style="background-image:url('{{ item.thumbnail }}')">
                                    <p>
                                        {{ item.post_title }}<br>
                                        <span>{{ item.event_start }}</span>
                                    </p>
                                </div>
                            </ons-button>
                        </li>
                    </ul>
                </div>
            </ons-page>
        </ons-template>

        <!--イベント詳細ページ-->
        <ons-template id="event-detail.html">
            <ons-page ng-controller="DetailController as detail">
                <ons-toolbar>
                  <div class="left"><ons-back-button>Back</ons-back-button></div>
                  <div class="center"></div>
                  <div class="right" ng-show="entry"><ons-toolbar-button ng-click="EventEntry.show($event)">参加申込み</ons-toolbar-button></div>
                </ons-toolbar>

                <h1>{{item.post_title}}</h1>
                <img ng-src="{{item.thumbnail}}" class="detail-thumb">
                <p ng-bind="item.event_days"></p>
                <p ng-bind-html="item.post_content | nl2br"></p>
            </ons-page>
        </ons-template>
        
        <!--申込みポップオーバー-->
        <ons-popover direction="down" var="EventEntry" ng-controller="PostentryController">
            <div class="event-pop">
                <p>
                このイベントに参加します。
                </p>
                <p>
                <ons-input id="yourname" modifier="underbar" placeholder="お名前" float ng-model="detail.yourname" type="text"></ons-input>
                </p>
                <p>
                <ons-input id="yourtel" modifier="underbar" placeholder="お電話番号" float ng-model="detail.yourtel" type="tel"></ons-input>
                </p>
                <p>
                <ons-input id="yourmail" modifier="underbar" placeholder="メールアドレス" float ng-model="detail.yourmail" type="email"></ons-input>
                </p>
                <p>大人の人数
                    <ons-select id="adults" modifier="underbar" ng-model="detail.adults">
                        <option value="0" selected>0人</option>
                        <option value="1">1人</option>
                        <option value="2">2人</option>
                        <option value="3">3人</option>
                        <option value="4">4人</option>
                        <option value="5">5人</option>
                        <option value="6">6人</option>
                        <option value="7">7人</option>
                        <option value="8">8人</option>
                        <option value="9">9人</option>
                        <option value="10">10人</option>
                    </ons-select>
                </p>
                <p>子どもの人数
                    <ons-select id="kids" modifier="underbar" ng-model="detail.kids">
                        <option value="0" selected>0人</option>
                        <option value="1">1人</option>
                        <option value="2">2人</option>
                        <option value="3">3人</option>
                        <option value="4">4人</option>
                        <option value="5">5人</option>
                        <option value="6">6人</option>
                        <option value="7">7人</option>
                        <option value="8">8人</option>
                        <option value="9">9人</option>
                        <option value="10">10人</option>
                    </ons-select>
                </p>
                <p>
                <textarea class="textarea" id="my-textarea" placeholder="ほかにメッセージがあればこちらへ" rows="4"></textarea>
                </p>
                <p>
                <ons-button ng-click="postEntry()">申込む</ons-button><ons-button modifier="quiet" ng-click="EventEntry.hide()">閉じる</ons-button>
                </p>
            </div>
        </ons-popover>
        
        <!--マップのページ-->
        <ons-template id="maps.html">
            <ons-page ng-controller="ParkMapsController">
                <ons-toolbar>
                  <div class="center">園内マップ</div>
                </ons-toolbar>
                <!--イラストマップ-->
                <div class="container" ng-show="maps">
                    <img src="img/map.png" width="320" height="240" class="imageview" ng-pinch-zoom max-scale="8">
                </div>
                <!--Googleマップ-->
                <div class="container" ng-hide="maps">
                    <div id="map_canvas"></div>
                    <p class="message">{{msg}}</p>
                </div>
                <!--ボタン-->
                <ons-fab position="bottom right" ng-show="maps" ng-click="ChoseIllustmap()">
                    <ons-icon icon="map-marker"></ons-icon>
                </ons-fab>
                <ons-fab position="bottom right" ng-hide="maps" ng-click="ChoseGooglemap()">
                    <ons-icon icon="map"></ons-icon>
                </ons-fab>
            </ons-page>
        </ons-template>
        
        <!--その他ナビbar-->
        <ons-template id="others-nav.html">
            <ons-navigator var="othersNavigator" page="others.html"></ons-navigator>
        </ons-template>
        
        <!--その他のページ-->
        <ons-template id="others.html">
            <ons-page>
                <ons-toolbar>
                  <div class="center">その他</div>
                </ons-toolbar>
                
                <p class="others-menu">
                    <ons-button modifier="quiet" ng-click="othersNavigator.pushPage('options.html', {data: {title: '設定'}})">設定</ons-button><br>
                    <ons-button modifier="quiet" ng-click="Feedback.show($event)">ご意見をフィードバック</ons-button>
                </p>

                <p class="appmaker">
                    アプリ制作・公園指定管理者<br>
                    <img src="img/logo-eccom.png" class="eccom-logo">
                </p>
            </ons-page>
        </ons-template>
        
        <!--設定のページ-->
        <ons-template id="options.html">
            <ons-page>
                <ons-toolbar>
                  <div class="left"><ons-back-button>Back</ons-back-button></div>
                  <div class="center">設定</div>
                  <div class="right"><ons-button modifier="quiet" ng-click="">保存</ons-button></div>
                </ons-toolbar>
                <ons-list>
                    <ons-list-header>
                        イベント参加者情報<br>
                        設定しておくと、イベント申込みが楽チンです。
                    </ons-list-header>
                    <ons-list-item><ons-input id="yourname" modifier="transparent" float ng-model="detail.yourname" placeholder="お名前" type="text"></ons-input></ons-list-item>
                    <ons-list-item><ons-input id="yourtel" modifier="transparent" float ng-model="detail.yourtel" placeholder="お電話番号" type="tel"></ons-input></ons-list-item>
                    <ons-list-item><ons-input id="yourmail" modifier="transparent" float ng-model="detail.yourmail" placeholder="メールアドレス" type="email"></ons-input></ons-list-item>
                </ons-list>
                
            </ons-page>
        </ons-template>
        
        <!--ご意見をフィードバック ポップオーバー-->
        <ons-popover direction="down" var="Feedback" cancelable>
            <div style="padding: 10px; text-align: center;">
                <p>
                三重県民の森の公園やイベント、アプリなどに関するご意見・ご感想をお聞かせください。
                </p>
                <p>
                <textarea class="textarea" id="my-textarea" placeholder="入力してください" rows="4"></textarea>
                </p>
                <p>
                <ons-button ng-click="Feedback.hide()">送信する</ons-button><ons-button modifier="quiet" ng-click="Feedback.hide()">閉じる</ons-button>
                </p>
            </div>
        </ons-popover>
        
        <div data-wc-overlay="" data-wc-overlay-delay="100" class="loading">
            <img src="img/spinner.gif" /><br />Loading...
        </div>
        <script src="cordova.js"></script>
    </body>
</html>
