* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
}
.bg-logo {
    background-image: url('../img/miemori.png');
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: center center;
}

.loading {
    width: 100%;
    text-align: center;
}

/* ピックアップ */
.fontM {
    font-size: 1.4em;
}
.loading {
    background-color: #eee;
    background-image: url('../img/spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
.attention {
    background: #df0000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

/* 横並び */
.horizontal-collection {
    width: 100%;
    height: 270px;
    padding: 5px;
    overflow-x: scroll;
    box-sizing: border-box;
}
.horizontal-collection ul {
    width: auto;
    margin: 0;
    padding: 0;
    line-height: 2;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.horizontal-collection ul li {
    border-bottom: none;
    text-indent: 0;
    width: 220px;
    height: 260px;
}
.horizontal-collection ul li div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
}
.horizontal-collection ul li ons-button {
    padding: 0;
    background: none;
    width: 100%;
    height: 100%;
}
.horizontal-collection ul li div p {
    letter-spacing: -1px;
    line-height: 1.3;
    font-size: 16px;
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.65);
    color: #000;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 12px 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
.horizontal-collection ul li div p span {
    font-size: 13px;
    
}

/* 縦並び */
.vertical-collection {
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}
.vertical-collection ul {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 2;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap; 
    flex-wrap: wrap;
    position: relative;
}
.vertical-collection ul li {
    border-bottom: none;
    text-indent: 0;
    width: 100%;
    height: 350px;
    margin: 0 0 5px;
}
.vertical-collection ul li div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
}
.vertical-collection ul li ons-button {
    padding: 0;
    background: none;
    width: 100%;
    height: 100%;
}
.vertical-collection ul li div p {
    letter-spacing: -1px;
    line-height: 1.3;
    font-size: 16px;
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.65);
    color: #000;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 12px 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
.vertical-collection ul li div p span {
    font-size: 13px;
    
}

/* イベント詳細ページ */
.detail-thumb {
    display: block;
    width: 100%;
    height: auto;
}

/* ポップオーバー */
.event-pop {
    padding: 5px;
}

/* GoogleMaps */
#map_canvas {
    width: 100%;
    height: 100%;
}

/* マップ */
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.imageview {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}
.message {
    position: absolute;
    bottom: 35px;
    left: 5px;
    z-index:19871023;
    color:#fff;
    font-size: 13px;
}
/* その他 */
.others-menu {
    text-align: center;
    margin: 60px 0;
    line-height: 3;
}
.appmaker {
    text-align: center;
}

.appmaker .eccom-logo {
    width: 200px;
    height: auto;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
